<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict><key>items</key><array><dict><key>assets</key><array><dict><key>kind</key><string>software-package</string><key>url</key><string>http://www.yingkewifi.com/app/Uploads/2015-08-21/55d6c6557d16c.ipa</string></dict><dict><key>kind</key><string>display-image</string><key>url</key><string>https://www.yingkewifi.com/app/Uploads/2015-04-01/551b611408d63.png</string></dict><dict><key>kind</key><string>full-size-image</string><key>url</key><string>https://www.yingkewifi.com/app/Uploads/2015-04-01/551b611408d63.png</string></dict></array><key>metadata</key><dict><key>bundle-identifier</key><string>com.maipu.xmaster</string><key>bundle-version</key><string>1.1</string><key>kind</key><string>software</string><key>title</key><string>X-Master</string></dict></dict></array></dict></plist>
